img{
    
    width: 25px;
}
.modal-backdrop.fade
   {
     opacity: 0.5;
   }
   .modal-open .modal
   {
     opacity: 1;
   }
   label{
       display: block;
       margin-top: 15px;
       margin-bottom: 0px;
   }