
.center{
   margin-right: auto;
   margin-left: auto;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 50px;
    display: block;
    

}

.address{
    display: inline-block;

    vertical-align: top;
}