<ng-container *ngIf="this.resetService.reset"></ng-container>
<h1>Company List</h1>


<app-new-company></app-new-company>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let company"><div (click)="onSelect(company)">{{company.companyName}}</div></td>
        </ng-container>
        
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let company"><div (click)="onSelect(company)">{{company.street}}<br> {{company.city}}, {{company.state_Region}} {{company.zipCode}}</div></td>
        </ng-container>

        <ng-container matColumnDef="business">
            <th mat-header-cell *matHeaderCellDef>Business Type</th>
            <td mat-cell *matCellDef="let company"><div (click)="onSelect(company)">{{company.businessType}}</div></td>
        </ng-container>

        <ng-container matColumnDef="contacted">
            <th mat-header-cell *matHeaderCellDef>Contacted</th>
            <td mat-cell *matCellDef="let company" ><div (click)="onSelect(company)"><div *ngIf="!company.contacted">No</div>
                                                    <div *ngIf="company.contacted">Yes</div></div></td>
        </ng-container>

        <ng-container matColumnDef="speedScore">
            <th mat-header-cell *matHeaderCellDef>Page Speed Score</th>
            <td mat-cell *matCellDef="let company"><div (click)="onSelect(company)" ><div *ngIf="company.gtMetrics">{{company.gtMetrics.pageSpeedScore}}</div>
                                                    <div *ngIf="!company.gtMetrics">No Test Generated</div></div></td>
        </ng-container>

        <ng-container matColumnDef="yslowScore">
            <th mat-header-cell *matHeaderCellDef>YSlow Score</th>
            <td mat-cell *matCellDef="let company"><div (click)="onSelect(company)"><div *ngIf="company.gtMetrics">{{company.gtMetrics.ySlowScore}}</div></div></td>
        </ng-container>

        <ng-container matColumnDef="genReport">
            <th mat-header-cell *matHeaderCellDef>Gen Report</th>
            <td mat-cell *matCellDef="let company"><div (click)="onGen(company)"><img src="../../../assets/gen report.png" alt=""></div></td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let company"><app-edit-modal [company]=company></app-edit-modal></td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let company"><div><img src="../../../assets/delete.png"  (click)="onDelete(company)" alt=""></div></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
