table{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}
img{
    
    width: 25px;
}
.add{
    margin-left: 300px;
    width: 50px;
    vertical-align: middle;
    
}
.flexit{
    display: inline-block;
   
}